@media screen and (max-width: 980px) {
	.bottom_header h1 {
		font-size: 32px;
	}

	.services_box h2,
	.team_box h2,
	.skills_box h2,
	.portfolio_box h2,
	.about_box h2,
	.contacts_box h2 {
		font-size: 30px;
	}

	.team_social li {
    margin: 0 3px;
	}

	.contacts_form .form_row {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.contacts_form  .contacts_login, 
	.contacts_form .contacts_email {
		width: 100%;
	}


}

@media screen and (max-width: 940px) {
	
	.services_item,
	.team_item {
		width: 48%;
		margin-top: 30px;
	}
	.services_item:nth-of-type(2n),
	.team_item:nth-of-type(2n) {
		margin-right: 0;
	}
	.about_item {
		width: 80%;
		margin: 40px auto;
		float: none;
	}
	
	.contacts_form .form_row {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.footer_navigation li a {
		font-size: 20px;
	}
	
}

@media screen and (max-width: 800px) {

	.header_bottom_btn,
	.portfolio_bottom_btn,
	.contacts_bottom_btn {
		height: 50px;
		font-size: 14px;
		line-height: 50px;
	}

	.bottom_header h1 {
		font-size: 26px;
	}

	.main_nagigation li {
    margin: 0 5px 0 0;
	}
	
	.skill {
		width: 50%;
		margin-bottom: 30px;
	}
	
	.contacts_form  .contacts_login, 
	.contacts_form .contacts_email {
		width: 100%;
	}

	.footer_navigation li {
		margin: 0 1.5%;
	}
	.footer_navigation li a {
		font-size: 18px;
	}
}	


@media screen and (max-width: 680px) {
	.logo {
    float: left;
    margin-left: 20px;
	}

	.logo img {
		width: 80%;
		height: auto;
	}

	.main_nagigation li a,
	#touch_menu {
	padding: 8px 11px 8px 11px;
	
}
	.services_item,
	.team_item {
		width: 100%;
		margin-top: 30px;
	}
	.services_item:nth-of-type(2n),
	.team_item:nth-of-type(2n) {
		margin-right: 0;
	}

	.services_box p {
		font-size: 22px;
		width: 80%;		
	}

	.services_item p {
		font-size: 20px;	
	}

	.tab_cont_item {
		width: 98%;
		float: none;
	}

	.footer_navigation li {
		display: block;
		transition: all 0.6s ease-in-out;
	}

	.footer_navigation li {
		display: block;
		transition: all 0.6s ease-in-out;
	}

	.footer_navigation li a {
		font-size: 20px;
		display: block;
		padding: 5px 0;
	}

	.footer_navigation li:hover  {
		background: #30BAE7;
	}

	.footer_navigation li:hover a {
		color: #FFF;
	}
}

@media screen and (max-width: 540px) {
	.portfolio_bottom_btn,
	.header_bottom_btn,
	.contacts_bottom_btn {
		width: 50%;
	} 

	.top_header {
		margin-bottom: 120px;
	}

	.logo {
		margin-top: 25px;
	}
	.top_header .navigation {
		display: none;
		position: absolute;
		top: 145px;
		right: 5px;
	}

	#touch_menu {
		display: block;
	}

	.main_nagigation li {
		display: block;
		width: 250px;
		background: #643A79;
	}

	.main_nagigation li a {
		font-size: 20px;
		transition: all 0.6s ease-in-out;
		display: block;
	}
	
	.main_nagigation li:hover {
		background: #FFF;
	}
	
	.main_nagigation li:hover a {
		color: #eb7d4b;
	}

	.services_item, .team_item {
    	 margin-right: 0;
  
}


@media screen and (max-width: 480px) {
    body {
        width: 480px;
    }
} 