* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}
 button, input[type="button"],input[type="submit"] {
 	cursor: pointer;
 	outline: none;
 }

html,
body {
	height: 100%;
}

ul {
	list-style-type: none;
}

body{
 font-family: 'Titillium Web', Arial sans-serif;
 font-size: 14px;
 line-height: 1.3;
 background: #fff;
 color: #000;
 width: 100%;	
}

.container {
 max-width: 1100px;
 margin: 0 auto; 
 position: relative;
 }

/* Общие стили */
.services_box,
.team_box,
.skills_box,
.portfolio_box,
.about_box,
.contacts_box {
text-align: center;
padding: 120px 0;
}

.main_nagigation,
.footer_navigation {
	text-decoration: none;
}


.header_bottom_btn,
.portfolio_bottom_btn,
.contacts_bottom_btn {
	width: 26.6363%;
	height: 71px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	display: block;
	line-height: 73px;
	-webkit-border-radius: 4px;
	 border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 60px;
	transition: all 0.2s ease-in-out;
}


.main_nagigation li,
.footer_navigation li a,
.team_social .fb, 
.team_social .twit,
.team_social .inst,
.team_social .gmail	{
	transition: all 0.2s ease-in-out;
} 



.services_box h2,
.team_box h2,
.skills_box h2,
.portfolio_box h2,
.about_box h2,
.contacts_box h2{
	font-size: 40px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 22px;
	margin-bottom: 24px;
}

.services_box h2::before,
.team_box h2::before,
.skills_box h2::before,
.portfolio_box h2::before,
.about_box h2::before,
.contacts_box h2::before {
	content: "";
	width: 84px;
	height: 4px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -42px;
}

.services_box .container > p,
.team_box  .container > p,
.skills_box .container > p,
.portfolio_box .container > p,
.about_box  .container > p,
.contacts_box .container > p {
	font-size: 18px;
	width:56.3626%;
	margin: 0 auto  60px;
}

.services_item,
.team_item {
	float: left;
	width: 24%;
	margin-right: 1%;
	position: relative;
}

.services_item h5,
.team_item h5,
.about_items h5{
	font-size: 24px;
	margin-bottom: 29px;
	text-transform: uppercase;
}

.services_item h5 a,
.team_item h5 a {
	text-decoration: none;
	text-transform: uppercase;
}

/* Хедер */
header {
	background: #87509C;
}

.top_header,
.bottom_header {
	padding: 50px 0;
}

.logo {
	float: left;
	margin-left: 40px;
}

 header .navigation {
 	float: right;
 }


.main_nagigation li,
#touch_menu {
	display: inline-block;
	margin: 0 10px 0 0;
}

.main_nagigation li:hover{
	background: #643A79;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

#touch_menu:hover span {
	background: #eb7d4b;
}

.main_nagigation li a,
#touch_menu{
	font-size: 16px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	padding: 10px 17px 10px 17px;
	display: block;
}

#touch_menu {
	float: right;
	width: 60px;
	height: 60px;
	padding: 12px;
	display: none;
	margin-top: 9px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

#touch_menu span {
	height: 3px;
	background: #fff;
	display: block;
	margin-top: 8px;
}

.bottom_header {
	text-align: center;
}

.bottom_header h1 {
	font-size: 42px;
	color: #FFF;
	margin: 0 auto;
	margin-bottom: 60px;
	max-width: 82.4545%;
}

.bottom_header .header_bottom_btn {
	background: #eb7d4b;
	border-bottom: 4px solid #c86a40;
}

.bottom_header .header_bottom_btn:hover {
	background: #c86a40;
}

/* services block */

.services_box {
	background: #17C2A4;
	color: #FFF;
}

.services_box h2::before {
	background: #14a58c;
}

.services_box p {
	font-size: 18px;
	margin: 0 auto  60px;
}

.services_item {
	padding: 190px 2% 0;
}

.serv_icon::before {
	content: "";
	width: 160px;
	height: 136px;
	background: url(../img/icon_flag.png) no-repeat 0px 0px;
	display: inline;
	position: absolute;
	top: 0;

}

.design::before {
	background: url(../img/icon_pencil.png) no-repeat 0px 0px;
}

.development::before {
	background: url(../img/icon_gears.png) no-repeat 0px 0px;
}

.science::before {
	background: url(../img/icon_rocket.png) no-repeat 0px 0px;
}

.services_item h5 a {
	color: #FFF;
}

.services_item p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}

/* team */

.team_box {
	color: #3C4761;
	background: #E7F1F8;
}

.team_box h2::before {
	background: #c8d9e5;
}

.team_item {
	padding: 0 2% 0;
}

.team_item p {
	width: auto;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}


.team_photos {
	display: inline-block;
	width: 200px;
	height: 200px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #878787;
	margin: 0 auto;
	overflow: hidden;
}

.team_item h5 a {
	color: #27283D;
}

.team_item .prof {
	color: #30BAE7;
	text-decoration: none;
	font-size: 16px;
	margin-bottom: 26px;
	display: inline-block;
}

.team_item h5 {
	margin-bottom: 0;
}

.team_social {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 8px;
	margin-top: 25px;
}

.team_social li {
	display: inline-block;
	background: #bdd1df;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin: 0 5px;
}

.team_social li a {
	display: inline-block;
	width: 17px;
	height: 30px;
	background: url(../img/social_sprite.png) no-repeat 0 7px;
}

.team_social  .twit a {
	background-position: 0 -21px;
}

.team_social  .inst a {
	background-position: 0 -51px;
}

.team_social  .gmail a {
	background-position: 0 -81px;
}

.team_social li:hover {
	background: #163D95;
}

.team_social .twit:hover {
	background: #57ddf5;
}

.team_social .inst:hover {
	background: #e73737;
}

.team_social .gmail:hover {
	background: #b61f10;
}

/* skills */

.skills_box h2::before{
	background: #dfe8ed;
}

.skill {
	float: left;
	width: 25%;
	margin: 30px 0;
}


/* portfolio */

.portfolio_box {
	background: #FD9;
}

.portfolio_box h2::before {
	background: #e5c37f;
}

.tabs_block {
	margin: 30px auto;
	font-size: 11px;
	width: 100%;
}

.skill label {
	display: block;
	font-size: 24px;
	color: #3C4761;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}

.tab {
	display: inline-block;
	margin: 0 2px 0 0;
	font-family: tahoma, arial, sans-serif;
}

.tab a {
	text-decoration: none;
	background: #ebc985;
	padding: 12px 26px;	
	display: block;
	color: #393939;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	text-transform: uppercase;
	font-size: 18px;
}

.tab_cont {
	padding: 10px;
	margin-top: 60px;
}

.tab_cont_item {
	float: left;
	width: 49%;
	height: 100%;
	margin: 0 1.5% 60px 0;
	position: relative;
}

.tab_cont_item:nth-of-type(2n) {
	margin-right: 0;
}

.tab_cont_item a {
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	color: #393939;
	text-decoration: none;
	width: 100%;
	height: auto;
}

.tab_cont_item a img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.tab .selected {
	background: #FFF;
}

.portfolio_bottom_btn {
	background: #17C2A4;
	border-bottom: 4px solid #14a58c;
}

.portfolio_bottom_btn:hover {
	background: #14a58c;
}

/* about block */

.about_box {
	background: #D74680;
	padding-bottom: 20px;
}

.about_box h2,
.about_box p{
	color: #FFF;
}

.about_box h2::before {
	background: #b73c6d;
}

.about_item {
	float: left;
	width: 49%;
	margin-bottom: 120px;
	margin-right: 1%;
}

.about_photo_box {
	width: 21%;
	height: auto;
	float: left;
}

.about_photo_box a {
	display: block;
	max-width: 100px;
	height: auto;
	width: 100%;
	overflow: hidden;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #787878;
}

.about_photo_box a img {
	width: 100%;
	height: auto;
}

.about_desc {
	float: left;
	width: 69%;
	margin: 0px 5%;
}

.about_desc p {
	font-style: italic;
	font-size: 21px;
	text-align: left;
	margin-bottom: 25px;
}

.about_items h5 {
	color: #FFF;
	text-align: left;
	margin-bottom: 8px;
}

.about_desc span {
	color: #FD9;
	font-size: 18px;
	text-align: left;
	display: block;
}

/* contacts */

.contacts_box {
	background: #3c5499;
	text-align: center;
	color: #FFF;
}

.contacts_box h2::before {
	background: #273a71;
}

.contacts_box p {
	width: 100%;
}

.contacts_form {
	padding: 0  10.9090%;
	margin-bottom: 40px;
}

.contacts_form .form_row {
	float: left;
	width: 48%;
	margin: 0 4% 30px 0px;
}

.contacts_form .form_row:nth-of-type(2n) {
	margin-right: 0;
}

.contacts_form  .contacts_login,
.contacts_form .contacts_email {
	width: 100%;
	background: #273a71;
	color: #fff;
	height: 55px;
	border: none;
	padding: 0 20px;
	
}

.contacts_form  .contacts_login:focus,
.contacts_form .contacts_email:focus,
 .contacts_form textarea:focus {
 	outline: none;
 }
 .contacts_form textarea {
	width: 100%;
	background: #273a71;
	border: none;
	height: 200px;
	padding: 20px 20px;
	margin-bottom: 20px;
	resize: none;
	color: #fff;
}

.contacts_bottom_btn {
	background: #30bae7;
    border: none;
    border-bottom: 4px solid #299ec5;
  
}

.contacts_bottom_btn:hover {
	background: #299ec5
}


/*футер */

footer {
	background: #344B8E;
	color: #FFF;
	text-align: center;
	border-top: 1px solid #263E85;
}

footer .navigation {
	
}

.footer_navigation {
	margin: 0 auto;
	padding: 40px 0px;
}

.footer_navigation li {
	display: inline-block;
	margin: 0 2.5%;
}

.footer_navigation li a {
	color: #FFF;
	text-decoration: none;
	font-size: 24px;
}

.footer_navigation li:hover a {
	color: #30BAE7;
}